html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .individual {
  border-radius: 0;
} */

.individual + .individual {
  border-top: 1px solid #a0aec0;
  /* border-top-width: 2px; */
}

.individualBox {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  + .individualBox {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
